@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  .roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  

  .damion-regular {
	font-family: "Damion", cursive;
	font-weight: 400;
	font-style: normal;
  }
  
  

:root {
	--choco-primary-color: #1F1F1F;
	--choco-secondary-color: #E9ACC5;
	--choco-secondary-accent-color: #dc2518;
	--choco-tertiary-color: #faa4c8;

	--dark-color: #343a40;
	--white-color: #fff;
	--black-color: #000;
	--font-size-base: 1rem;
	--font-size-lg: 1.25rem;
	--font-size-sm: 0.875rem;
	--font-size-xs: 0.75rem;
	--font-size-h1: 2.5rem;
	--font-size-h2: 2rem;
	--font-size-h3: 1.75rem;
	--font-size-h4: 1.5rem;
	--font-size-h5: 1.25rem;
	--font-size-h6: 1rem;
}

.bg-primary,
.btn-primary {
	background-color: var(--choco-secondary-accent-color) !important;
	border: none;
}

h1{
	font-family: "Damion", cursive;
	padding-left: 1.5rem;
	font-size: 4rem;
	color: var(--choco-primary-color);
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto", cursive;
	font-weight: 500;
	padding-left: 1.5rem;
}



body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-color: var(--choco-tertiary-color);
	color: var(--choco-primary-color);
}

.nav-font {
	font-family: "Damion", cursive;
	color: var(--choco-primary-color);
}

.section-box {
    background-color: transparent;
    border-radius: 16px; /* Example value, adjust as needed */
    border: 6px solid var(--choco-primary-color); /* Adjust the border width, style, and color as needed */
}

.table-space{
	padding: 0px 28px;

}

.nav-box {
	margin: 18px 28px;
    background-color: transparent;
    border-radius: 16px; /* Example value, adjust as needed */
    border: 6px solid var(--choco-primary-color); /* Adjust the border width, style, and color as needed */
}

.chart {
	height: 250px;
}

.inline-elements {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
